body {
  background-color: black;
  color: white;
  padding: 2.5rem;

}

img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}

span {
  color: crimson;
  text-transform: uppercase;
  display: block;
}

h1{
  font-size: 4rem;
  text-align: center;
}

h2 {
  text-transform:capitalize;
}

.name {
  font-size: 2.5rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: whitesmoke;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: black;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid crimson;
  margin: 20px;
}